body {
    position: relative;
    text-align: center;
    font-family: "Noto Sans KR", "dotum", "Arial", "sans-serif";
}
a, a:link { 
    color: inherit;
    text-decoration: none;
}
.d-none {
    display: none;
}
/* header */
header {
    padding: 10px 0;
    border-bottom: 1px solid #e4e4e4;
}
.header-wrap {
    width: 1200px;
    height: 85px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gnb-wrap {
    width: 55%;
}
.gnb {
    display: flex;
    justify-content: space-between;
}
.dropdown {
    float: left;
    position: absolute;
    background: #575757;
    color: #e4e4e4;
    opacity: 0;
    visibility: hidden;
} 
.dropdown li {
    padding: 10px 10px;
}
.gnb li:hover > .dropdown {
    opacity: 1;
    visibility: visible;
    z-index: 200;
}
.sns-wrap {
    width: 13%;
}
.sns {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* section 1 */
.quickmenu-wrap {
    position: fixed;
    right: 3%;
    z-index: 100;
}
/* section 2 */
/* section 3 */
/* order */
.hero-wrap {
    background: url("/public/images/page_top_visual_menu.jpg") no-repeat center / cover;
    margin: 0 auto;
    position: relative;
}
.hero {
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    position: relative;
}
.hero-title {
    position: absolute;
    top: 40%;
    font-size: 42px;
    font-weight: 700;
    color: white;
}
.hero p {
    position: absolute;
    top: 65%;
    font-size: 17px;
    /* font-weight: 700; */
    color: white;
}
.location-wrap {
    box-sizing: border-box;
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.location {
    width: 335px;
    height: 40px;
    position: absolute;
    top: -25px;
    right: 0%;
    background: #983b43;
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
}
.home-icon {
    display: inline;
    color: #ffafbf;
    margin: 0 15px 0 0;
}
.arrw-icon {
    display: inline;
    color: #ffafbf;
    margin: 0 15px 0 0;
}
.location a {
    display: inline;
    color: #ffafbf;
    margin: 0 15px 0 0;
}
.location p {
    display: inline;
    color: white;
    margin: 0 15px 0 0;
}
.order-main-wrap {
    box-sizing: border-box;
    background: #e4dcd2;
    width: 100%;
    height: 500px;
    padding: 80px 0 0 0;
}
.order-main-wrap h4 {
    font-size: 26px;
    font-weight: 700;
    color: #222222;
    margin: 0 0 25px 0;
}
.order-main-wrap p {
    color: #666666;
    line-height: 25px;
    margin-bottom: 40px;
}
.order1-wrap {
    width: 1200px;
    margin: 0 auto;
}
.order1 {
    width: 1200px;
    position: relative;
    margin: 150px 0 0 0;
}
.order1-left {
    width: 30%;
    float: left;
    text-align: left;
}
.order1-left p:nth-child(1) {
    color: #983b43;
    font-size: 20px;
    letter-spacing: 2px;
}
.order1-left p:nth-child(2) {
    font-size: 40px;
    margin: 15px 0 40px 0;
}
.order1-left p:nth-child(3) {
    color: #666666;
}
.order1-right {
    width: 65%;
    display: flex;
    justify-content: space-between;
    float: right;
}
.order1-right h5 {
    margin: 25px 0 0 0;
    font-size: 18px;
}
.order1-right p {
    font-size: 14px;
    line-height: 25px;
    color: #666666;
}
.order2 {
    clear: both;
    position: relative;
}
/* footer */
.footer-wrap {
    width: 1200px;
    height: 200px;
    margin: 0 auto;
}
.footer-left-wrap {
    float: left;
    width: 25%;
    height: 150px;
    background: #727272;
    display: flex;
    align-items: center;
    position: relative;
}
.footer-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.ft-logo {
    margin: 10px;
}
#copyright {
    text-align: left;
    font-size: 10px;
    color: #b4b4b4;
    padding: 40px 0 0 0;
}
.footer-right-wrap {
    float: left;
    width: 75%;
    height: 150px;
    background: #f2f2f2;
    text-align: left;
    position: relative;
}
.footer-right {
    margin: 30px;
    color: #656565;
}
.footer-menu {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.footer-menu li {
    padding-right: 15px;
    border-right: 1px solid #656565;
}
.footer-menu li:nth-child(4) {
    font-size: 1.250rem;
}
.footer-menu li:last-child {
    border-right: 0px;
}
address {
    margin: 25px 0 0 0;
    display: inline-flex;
}
address p:nth-child(1) {
    font-weight: 600;
}
.footer-right-addr {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0 0;
    font-size: 12px;
}
.footer-right-addr li {
    border-right: 1px solid #656565;
    padding-right: 20px;
}
.footer-right-addr li:last-child {
    border-right: 0px;
}